@use 'abstracts/index' as *;

.container {
  background-color: #fff;
  box-shadow: 0 0 3px rgb(0 0 0 / 20%);
  box-sizing: border-box;
  margin: 40px auto 0;
  max-width: 560px;
  padding: 24px;
  position: relative;
  width: 80%;
}

.title {
  font-size: 32px;
  margin-bottom: 16px;
}

.list {
  border-top: 1px solid #c7c7c7;
  position: relative;
}

.item {
  > a {
    display: block;
    padding-bottom: 8px;
    padding-left: 24px;
    padding-top: 8px;
    transition-duration: 0.25s;
    transition-property: background-color, opacity, border;
    transition-timing-function: $ease-out-sine;

    &:hover {
      background: #000;
      border-color: #000;
      color: #fff;
      transition-duration: 0.25s;
      transition-property: background-color, opacity, border;
      transition-timing-function: $ease-out-sine;
    }
  }

  border-bottom: 1px solid #c7c7c7;
}
