.container {
  background-color: #fff;
  box-shadow: 0 0 3px rgb(0 0 0 / 20%);
  box-sizing: border-box;
  margin: 40px auto 0;
  max-width: 560px;
  padding: 24px;
  position: relative;
  width: 80%;

  button {
    background: #000;
    border-radius: 10px;
    color: #fff;
    line-height: 1;
    outline: none;
    padding: 16px;
    width: 100%;
  }
}

.title {
  font-size: 32px;
  margin-bottom: 16px;
}

.main {
  margin-bottom: 24px;
}

.counter {
  font-size: 16px;
}

.buttonList {
  box-sizing: border-box;
  display: flex;
  margin-top: 8px;
  position: relative;

  > li {
    list-style: none;
    width: 49%;
  }

  > li + li {
    margin-left: 2%;
  }
}
