.container {
  background-color: #fff;
  box-shadow: 0 0 3px rgb(0 0 0 / 20%);
  box-sizing: border-box;
  margin: 40px auto 0;
  max-width: 560px;
  padding: 24px;
  position: relative;
  width: 80%;
}

.title {
  font-size: 32px;
  margin-bottom: 16px;
}
