@use 'abstracts/index' as *;

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, Verdana, Roboto,
    'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', '游ゴシック', 'Yu Gothic',
    '游ゴシック体', YuGothic, 'Meiryo UI', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック',
    'MS PGothic', sans-serif;
  height: 100%;
  line-height: 1.6;
  width: 100%;
}

img {
  height: auto;
  pointer-events: none;
  vertical-align: top;
  width: 100%;
}

button {
  appearance: none;
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
}

input[type='text'] {
  background: none;
  border-radius: 0;
  outline: none;
}

a {
  -webkit-tap-highlight-color: rgb(0 0 0 / 0%);
  text-decoration: none;
}

li {
  list-style: none;
}
